<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue JS 3 Basics</title>
    <style>
      .box {
        background-color: purple;
        height: 200px;
        width: 200px;
      }
      .box.two {
        background-color: red;
      }

      .box.three {
        background-color: blue;
      }
      input {
        display: block;
        margin: 10px;
      }
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <!-- v-clock, a utility that will hide anything from rendering until the Vue application is ready-->
    <div id="app" v-cloak>
      {{ greeting }}
      <!--v-model will be bound to a variable that we pass as an argument -->
      <!-- this is a directive -->
      <!-- @keyup is an event -->
      <input @keyup.enter="greet(greeting + '!!!')" v-model="greeting" />

      <hr />

      <!-- this is an event!-->
      <!-- shorthand version-->
      <button @click="toggleBox">Toggle Box</button>
      <!--<button v-on:click='isVisible = !isVisible'>Toggle Box</button>-->

      <!-- this will NOT render an element in the DOM-->
      <div v-if="isVisible" class="box"></div>
      <!--<div v-else-if="isVisible2" class="box two"></div>-->
      <!--<div v-else="isVisible" class="box three"></div>-->
      <!-- this will still render the element in the DOM-->
      <!--<div v-show="isVisible" class="box"></div>-->

      <login-form />
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      let app = Vue.createApp({
        data: function () {
          return {
            // Vue looks into this data object we're returning, to see if there is a variable called greeting
            // then displays it!
            greeting: "Hello Vue 3!",
            isVisible: false,
            //isVisible2: true
          };
        },
        methods: {
          // this method is available anywhere in the Vue JS template
          toggleBox() {
            this.isVisible = !this.isVisible;
          },
          greet(greeting) {
            console.log(greeting);
          },
        },
      });
      // self contained component, can use the options above
      app.component("login-form", {
        // prevent is an event modifier
        // v-model is a directive to bind a value to a variable
        // v-bind is a directive that turns HTML attributes into something that can be parsed as JavaScript so you can pass a variable to the child component
        // shorthand of v-bind is just a colon!
        // majority of the time, you'll want to pass a variable in when passing a property (prop) to a child component (data or a function)

        // props passed to children are immutable - we cannot change them in the child
        // it's important to use the key prop when looping, this will uniquely identify elements
        // this can help with performance and preventing bugs

        // example of looping <p v-for="(str, i) in inputs" :key="i">{{ str }}</p>
        template: `
            <form @submit.prevent="handleSubmit">
                <h1>{{ title }}</h1>
                <custom-input v-for="(input, i) in inputs" :key="i" v-model="input.value" :label="input.label" :type="input.type"/>
                <button>Log in</button>
            </form>
            `,
        components: ["custom-input"],
        data() {
          return {
            title: "Login form",
            inputs: [
              {
                label: "Email",
                value: "",
                type: "email",
              },
              {
                label: "Password",
                value: "",
                type: "password",
              },
            ],
          };
        },
        methods: {
          handleSubmit() {
            console.log(this.inputs[0].value, this.inputs[1].value);
          },
        },
      });

      app.component("custom-input", {
        template: `
        <label>
          {{ label }}
          <input :type="type" v-model="inputValue" />
        </label>
        `,
        // from parent to child
        // modelValue allows for variables to be passed into a child component
        props: ["label", "type", "modelValue"],
        computed: {
          // we can put variable names here as keys
          inputValue: {
            get() {
              return this.modelValue;
            },
            set(value) {
              //console.log(value);
              // allows you to emit events that other components can listen to
              // can use custom events, but this is using an event Vue has
              // first argument is the event
              // second argument is the value being passed through
              this.$emit("update:modelValue", value);
            },
          },
        },
        //data() {
        //  return {
        //    inputValue: "",
        //  };
        //},
      });
      // connects to the div, to display and interact with DOM elements in the div
      app.mount("#app");
    </script>
  </body>
</html>
